<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>EstudantesApp</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="materialize/style/styleCss.css" />
</head>
<body class="background-color purple darken-3">
	<header>

		<nav>
			<div class="nav-wrapper color purple darken-1">
				<a href="#" class="brand-logo center">ID-Card</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
			</div>
		</nav>

	</header>

	<form th:action="@{/login}" method="post" class="container login">

		
			<input name="username" class="form-control white-text" placeholder="Usuário" />
		
			<input type="password" name="password" class="form-control white-text" placeholder="Senha" />
	
		<button class="right-align btn btn-primary btn-block purple darken-1">Entrar</button>

	</form>



	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>